
body {
    font-family: "Poppins", "sans-serif";
}
.container{
    background-color: red;
}

#scatterPlot{
    height: 500px;
    width: 65%;
    float: left;
}
#listToFile{
    height: 500px;
    width: 35%;
    float: right;
    margin-top: 15px;

}
#radarChart{
    height: 402px;
    width: 560px;
    margin-left: 1167px;
}

.row {
    display: flex;
    /* flex-wrap: wrap; */
    /* margin-top: calc(-1 * var(--bs-gutter-y)); */
    /* margin-right: calc(-.5 * var(--bs-gutter-x)); */
    /* margin-left: calc(-.5 * var(--bs-gutter-x)); */
}